<div class="bg-light">
  <div class="container">
    <!-- <div class="card text-center" *ngFor="let user of users; let i = index">
      <p>{{user.id}}</p>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.password}}</p>
    </div> -->
    <div class="w-75 m-auto text-end my-2">
      <button class="btn btn-success" (click)="addUser()"><i class="fa-solid fa-user-plus"></i></button>
    </div>

    <table class="table w-75 m-auto text-center table-striped ">
      <thead class="bg-secondary ">
        <tr class="rounded">
          <th class="rounded-start">id</th>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Description</th>
          <th class="rounded-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{user.id}}</td>
          <td><img style="width: 80px;height: 80px;" src={{user.img}} alt=""></td>
          <td>{{user.name}}</td>
          <td>{{user.price}}</td>
          <td>{{user.quantity}}</td>
          <td>{{user.desc}}</td>
          <td>
            <button class="btn btn-warning mx-3" (click)="editeUser(user.id)" ><i class="fa-solid fa-user-pen"></i></button>
            <button class="btn btn-danger mx-3" (click)="removeUser(user.id)"><i class="fa-solid fa-user-xmark"></i></button>
            <button class="btn btn-primary mx-3" (click)="goToDetails(user.id)" ><i class="fa-solid fa-address-card"></i></button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
